@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">

        @if (Context.User.Identity.IsAuthenticated)
        {
            <div>You are authenticated.</div>
            var idToken = Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "id_token");
            var accessToken = Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "access_token");
            <ul>
                <li>Id Token : @idToken.Result</li>
                <li>Access Token : @accessToken.Result</li>
                @foreach (var claim in Context.User.Claims)
                {
                    <li>@claim.Type : @claim.Value</li>
                }
            </ul>
        }
        else
        {
            <div>You are not authenticated.</div>
        }
    </div>